* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.disclaimer {
	position: relative;
	top: 60px;
}
.disclaimer p{
	margin: 0;
}
.news-container .story {
	-webkit-background-clip:content-box;
	-moz-background-clip:content-box;
	background-clip:content-box;
	border-radius: 10px;
	display: inline-block;
	list-style: none;
	padding: 15px;
	vertical-align: top;
}
.news-container .story:hover {
	background-color: #DCDCDC;
	-webkit-transition-property: background-color, color;
	-moz-transition-property: background-color, color;
	-o-transition-property: background-color, color;
	-ms-transition-property: background-color, color;
	transition-property: background-color, color;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.news-container .story:nth-child(odd) {
	min-height: 385px;
	width: 60%;
}
.news-container .story:nth-child(even) {
	width: 40%;
}
.news-container .inner-story {
	color: #333;
	padding: 15px;
}
.news-container .inner-story h3 {
	color: #830001;
}
.news-container .part {
	display: inline-block;
	vertical-align: top;
}
.news-container .img-part {
	width: 210px;
}

.story-container .title-container {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 600px;
	position: relative;
	top: 0;
}

.title-container:hover {

}

.story-container .title-text-container{
	background-color: rgba(255, 255, 255, 0.5);
	bottom: 0;
	left: 50%;
	margin-left: -330px;
	position: absolute;
	width: 660px;
}

.story-container .intro {
	font-size: 21px;
}

footer .actions {
	list-style-type: none;
	margin:0;
	padding:0;
}

footer .action {
	-webkit-transition: background, opacity 0.4s;
	   -moz-transition: background, opacity 0.4s;
	     -o-transition: background, opacity 0.4s;
	    -ms-transition: background, opacity 0.4s;
	        transition: background, opacity 0.4s;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	background: #f4f4f4;
	cursor: pointer;
	display: inline-block;
	opacity: 0.4;
	vertical-align: top;
}



@media (min-width: 1200px) {

	.state-story .navbar {
		-webkit-transition: opacity 0.4s;
		-moz-transition: opacity 0.4s;
		-o-transition: opacity 0.4s;
		-ms-transition: opacity 0.4s;
		transition: opacity 0.4s;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
		opacity: 0.3;
	}

	.state-story .navbar:hover {
		opacity: 1;
	}

	.news-container {
		left: 0;
		position: relative;
		top: 61px;
		width: 100%;
	}

	.news {
		position: relative;
		left: 0;
	}

	.story-container{
		width: 100%;
	}
	.story:nth-child(even) h3 {
		font-size: 27px;
	}
	.link {
		display: block;
		min-height: 100px;
	}
	.content-part {
		padding: 0 0 0 20px;
	}
	.story:nth-child(odd) .content-part {
		width: 579px;
	}
	.story:nth-child(even) .content-part {
		width: 296px;
	}

	.story-container .content{
		margin: 20px auto 0;
		width: 660px;
		z-index: -1;
	}

	.story-container .title-container {
		z-index: 1;
	}

	.story-container .title-text-container {
		width: 660px;
	}

	.story-container .story {

	}

	.lift-me-up.show {
		opacity: 0.4;
	}

	.lift-me-up {
		-webkit-transition: all 0.4s;
		   -moz-transition: all 0.4s;
		     -o-transition: all 0.4s;
		    -ms-transition: all 0.4s;
		        transition: all 0.4s;
		cursor: pointer;
		height: 72px;
		opacity: 0;
		position: fixed;
		right: 177px;
		top: 543px;
		width: 72px;
		z-index: 0;
	}

	.lift-me-up:hover {
		opacity: 1;
	}

	.icon-xxl {
		font-size: 90px;
	}

	footer {
		height: 200px;
		margin: 0 auto 0;
		width: 660px;
	}

	footer .action {
		height: 60px;
	}

	footer .action:hover {
		background: #333;
		color: #f4f4f4;
		font-size: 40px;
		margin: -15px 0 0 0;
		padding-top: 20px;
		opacity: 1;
	}

	footer .action:active {
		margin: -10px 0 0 0;
		padding-top: 20px;
	}

	footer .icon-large {
		position: relative;
		top: 7px;
	}

	footer .back {
		width: 280px;
	}

	footer .home {
		text-align: center;
		width: 100px;
	}

	footer .next {
		text-align: right;
		width: 280px;
	}

}

.emphasis {
	background-color: rgba(255, 255, 255, 0.8);
	font-style: italic;
}

.loading-container {
	background-color: rgba(0,0,0,0.2);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 4;
}

.loading-container .shield {
	background-color: #333;
	border-radius: 10px;
	color: white;
	height: 120px;
	margin: 0 auto 0;
	position: relative;
	opacity: 0.8;
	text-align: center;
	top: 30%;
	width: 120px;
}

.loading-container .icon-container{
	width: 90px;
	height: 90px;
	top: 10px;
	position: relative;
}

.rotation{
	-webkit-animation: rotate 4s infinite linear;
	   -moz-animation: rotate 4s infinite linear;
	    -ms-animation: rotate 4s infinite linear;
	     -o-animation: rotate 4s infinite linear;
	        animation: rotate 4s infinite linear;
}

.loading-container i {
	margin: 24px 0 0 0;
	height: 90px;
	width: 90px
}

@keyframes "rotate" {
 from {
    -webkit-transform: rotate(0deg);
   	-moz-transform: rotate(0deg);
   	-o-transform: rotate(0deg);
   	-ms-transform: rotate(0deg);
   	transform: rotate(0deg);
 }
 to {
    -webkit-transform: rotate(360deg);
   	-moz-transform: rotate(360deg);
   	-o-transform: rotate(360deg);
   	-ms-transform: rotate(360deg);
   	transform: rotate(360deg);
 }

}

@-moz-keyframes rotate {
 from {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -moz-transform: rotate(360deg);
   transform: rotate(360deg);
 }

}

@-webkit-keyframes "rotate" {
 from {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
 }

}

@-ms-keyframes "rotate" {
 from {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -ms-transform: rotate(360deg);
   transform: rotate(360deg);
 }

}

@-o-keyframes "rotate" {
 from {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
 }

}


@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}