AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

AddType font/truetype .ttf
AddType font/opentype .otf
AddType application/x-font-woff .woff
AddType image/svg+xml .svg
AddType text/x-component .htc

ErrorDocument 404 /404.html

SetEnv TZ America/Lima

#Options +FollowSymLinks
Options +FollowSymLinks
RewriteEngine On


RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f 
RewriteRule ^(.*)$ index.html?q=$1 [L,QSA]
#RewriteRule ^/?$ index.html?u=$1 [QSA,L]